# Python virtual environment
venv/
.venv/

# Environment variables / API keys
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp